@font-face {
  font-family: 'Product Sans';
  src: url('../../fonts/ProductSans-Regular.woff2') format('woff2'), url('../../fonts/ProductSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Product Sans';
  src: url('../../fonts/ProductSans-Light.woff2') format('woff2'), url('../../fonts/ProductSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Product Sans';
  src: url('../../fonts/ProductSans-Medium.woff2') format('woff2'), url('../../fonts/ProductSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

.container {
  font-family: 'Product Sans', sans-serif;
  font-weight: normal;

  width: 550px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.title {
  display: flex;
  flex-direction: row;
}

.title .rating {
  display: flex;
  padding: 13px;
  background: #000;
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  margin-right: 20px;
  align-items: center;
}

.title .film-name {
  font-weight: 500;
  font-size: 48px;
  display: flex;
  align-items: center;
}

.info {
  display: flex;
  margin-top: 10px;
  font-size: 16px;
  line-height: 17px;
  color: #C6C6C5;
}

.info .year{
  margin-right: 24px;
}

.info .time{
  margin-right: 24px;
}

.plot {
  margin-top: 15px;
  font-weight: 300;
  color: #474747;
  font-size: 16px;
}

.actors {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}

.actors b{
  font-size: 16px;
}

.actors span{
  margin-top: 10px;
  font-weight: 300;
  color: #474747;
}

.director {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}

.director b{
  font-size: 16px;
}

.director span{
  margin-top: 10px;
  font-weight: 300;
  color: #474747;
}